<!DOCTYPE html>
<html ng-app="calculatorApp">
  <head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="app.css" />
  </head>
  <body>
    <div ng-controller="CalculatorController">
      <input type="text" ng-model="result" />
      <br />
      <button ng-repeat="number in numbers" ng-click="appendNumber(number)">
        {{number}}
      </button>
      <button
        ng-repeat="operator in operators"
        ng-click="applyOperator(operator)"
      >
        {{operator}}
      </button>
      <button ng-click="calculate()">=</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
